In [1]:
import pandas as pd

y = pd.Period('2016')
y #annual ending in december

Period('2016', 'A-DEC')

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
m = pd.Period('2011-1', freq='M') #monthly timeperiod
m

Period('2011-01', 'M')

In [6]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [7]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [8]:
m + 1

Period('2011-02', 'M')

In [11]:
d = pd.Period('2017-02-28', freq='D')
d #daily

Period('2017-02-28', 'D')

In [12]:
d+1

Period('2017-03-01', 'D')

In [13]:
h = pd.Period('2016-02-28', freq='H')
h

Period('2016-02-28 00:00', 'H')

In [14]:
h+1

Period('2016-02-28 01:00', 'H')

In [15]:
h-6

Period('2016-02-27 18:00', 'H')

In [16]:
q = pd.Period('2018Q1')
q

Period('2018Q1', 'Q-DEC')

In [17]:
q+1

Period('2018Q2', 'Q-DEC')

In [18]:
q1 = pd.Period('2018Q1', freq='Q-JAN')
q1

Period('2018Q1', 'Q-JAN')

In [19]:
q1+1

Period('2018Q2', 'Q-JAN')

In [22]:
q2 = pd.Period('2018Q4', freq='Q-JAN')
q2 - q1 #period arithmetic between same frequency periods

3

In [23]:
idx = pd.period_range('2011', '2017', freq='Q-JAN')
idx #quarterly periodindex

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [24]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [25]:
idx[1].end_time

Timestamp('2011-04-30 23:59:59.999999999')

In [26]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -0.399868
2012Q1   -0.311948
2012Q2   -1.083212
2012Q3   -0.094796
2012Q4   -0.802861
2013Q1    2.132525
2013Q2    0.194650
2013Q3    0.230784
2013Q4    0.180862
2014Q1   -0.774765
2014Q2    0.443041
2014Q3   -0.313155
2014Q4   -1.240602
2015Q1    0.347786
2015Q2    1.082863
2015Q3    2.095054
2015Q4    0.912052
2016Q1    1.243037
2016Q2    0.290817
2016Q3    3.156198
2016Q4   -1.001514
2017Q1   -0.502120
2017Q2    0.118713
2017Q3   -0.592799
2017Q4   -1.384180
Freq: Q-JAN, dtype: float64

In [27]:
ps['2013']

2013Q4    0.180862
2014Q1   -0.774765
2014Q2    0.443041
2014Q3   -0.313155
2014Q4   -1.240602
Freq: Q-JAN, dtype: float64

In [28]:
pst = ps.to_timestamp()
pst

2010-11-01   -0.399868
2011-02-01   -0.311948
2011-05-01   -1.083212
2011-08-01   -0.094796
2011-11-01   -0.802861
2012-02-01    2.132525
2012-05-01    0.194650
2012-08-01    0.230784
2012-11-01    0.180862
2013-02-01   -0.774765
2013-05-01    0.443041
2013-08-01   -0.313155
2013-11-01   -1.240602
2014-02-01    0.347786
2014-05-01    1.082863
2014-08-01    2.095054
2014-11-01    0.912052
2015-02-01    1.243037
2015-05-01    0.290817
2015-08-01    3.156198
2015-11-01   -1.001514
2016-02-01   -0.502120
2016-05-01    0.118713
2016-08-01   -0.592799
2016-11-01   -1.384180
Freq: QS-NOV, dtype: float64

In [29]:
pst.to_period()

2010Q4   -0.399868
2011Q1   -0.311948
2011Q2   -1.083212
2011Q3   -0.094796
2011Q4   -0.802861
2012Q1    2.132525
2012Q2    0.194650
2012Q3    0.230784
2012Q4    0.180862
2013Q1   -0.774765
2013Q2    0.443041
2013Q3   -0.313155
2013Q4   -1.240602
2014Q1    0.347786
2014Q2    1.082863
2014Q3    2.095054
2014Q4    0.912052
2015Q1    1.243037
2015Q2    0.290817
2015Q3    3.156198
2015Q4   -1.001514
2016Q1   -0.502120
2016Q2    0.118713
2016Q3   -0.592799
2016Q4   -1.384180
Freq: Q-DEC, dtype: float64

In [31]:
df1 = pd.read_csv('wmt.csv')
df1

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [34]:
df1.set_index('Line Item', inplace=True)
df1

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [37]:
dfT = df1.T
dfT

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [38]:
dfT.index = pd.PeriodIndex(dfT.index, freq='Q-JAN')
dfT.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [41]:
dfT['start_date'] = dfT.index.map(lambda x: x.start_time)
dfT['end_date'] = dfT.index.map(lambda x: x.end_time)
dfT

Line Item  Revenue  Expenses  Profit start_date   end_date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30